<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Update note</h3>

    <div class="mb-3">
      <input
        type="text"
        [(ngModel)]="employeeData.id"
        class="form-control"
        placeholder="id"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        [(ngModel)]="employeeData.title"
        class="form-control"
        placeholder="title"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        [(ngModel)]="employeeData.content"
        class="form-control"
        placeholder="content"
      />
    </div>

    <div class="form-group">
      <button
        class="btn btn-success btn-lg btn-block"
        (click)="updateEmployee()"
      >
        Update note
      </button>
    </div>
  </div>
</div>
